@using CaféCozyApp.Helpers;
@model Paginate<ProductListVM>

@{
    int count = (Model.CurrentPage - 1) * ViewBag.take;
    ViewData["Title"] = "Index";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-10">
            <a asp-action="create" class="btn btn-primary">CREATE</a>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Products table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image Url</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Operations</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Datas)
                                {
                                    count++;
                                    <tr>
                                        <td class="align-middle">
                                            <p>@count</p>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm text-center">@product.Name</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@product.Description</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0"><img class="w-20" src="~/uploads/products/@product.ImageUrl"></p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0">@product.Price</p>
                                        </td>
                                     @*    <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0">@product.CategoryId</p>
                                        </td> *@
                                        <td class="align-middle">
                                            <a asp-action="edit" asp-route-id="@product.Id" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
                                            <a asp-action="delete" asp-route-id="@product.Id" class="btn btn-danger sweet-delete"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <nav aria-label="Page navigation example" style="padding-top: 18px;">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.HasPrevious ? " " : "d-none")">
                                <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" class="page-link" style="background: #696cffd9;color:#fff">Previous</a>
                            </li>
                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                <li class="page-item  @(Model.CurrentPage == i ? "disabled" : "") ">
                                    <a asp-action="Index" asp-route-page="@i"><span style="font-weight:600;" class="page-link">@i</span></a>
                                </li>
                            }
                            <li class="page-item @(Model.HasNext ? " " : "d-none")" style="width: 83px;">
                                <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" class="page-link" style="background: #696cffd9;color:#fff">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

