@model HomeVM



<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Sliders.Count; i++)
            {
                <div class="carousel-item @(i==0?"active":"")">
                    <img class="w-100" src="~/uploads/sliders/@Model.Sliders[i].ImageUrl" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <p class="text-primary font-weight-medium m-0">@Model.Sliders[i].Description</p>
                        <p class="display-1 text-white m-0">@Model.Sliders[i].Title</p>
                        <p class="text-white m-0">@Model.Sliders[i].Subtitle</p>
                    </div>
                </div>
            }


        </div>
        <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">BİZİM XİDMƏTLƏRİMİZ</p>
        </div>
        <div class="row">
            @foreach (Service service in Model.Services)
            {
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="~/uploads/services/@service.ImageUrl" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h5>
                                @Html.Raw(service.IconUrl)
                                @service.Title
                            </h5>
                            <p class="m-0">@service.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End  -->
<!-- Design -->
<div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
    <div class="container py-5"></div>
</div>
<!-- Design -->
<!-- Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & QİYMƏTLƏR</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-5">Hot Coffee</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-1.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Americano</h4>
                        <p class="m-0">15 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-2.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Cappuccino</h4>
                        <p class="m-0">140 calories, 12g sugar, 5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-3.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Mocha</h4>
                        <p class="m-0">370 calories, 35g sugar, 15g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-7.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Misto</h4>
                        <p class="m-0">110 calories, 10g sugar, 4g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-8.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caramel Macchiato</h4>
                        <p class="m-0">250 calories, 33g sugar, 7g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-9.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Espresso</h4>
                        <p class="m-0">10 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-10.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Latte</h4>
                        <p class="m-0">190 calories, 18g sugar, 7g fat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Cold Coffee</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-4.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caff&#xE8; Americano</h4>
                        <p class="m-0">15 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-5.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caff&#xE8; Latte</h4>
                        <p class="m-0">130 calories, 11g sugar, 4.5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-6.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caramel Macchiato</h4>
                        <p class="m-0">250 calories, 34g sugar, 7g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-11.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Espresso</h4>
                        <p class="m-0">10 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-12.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Flat White</h4>
                        <p class="m-0">150 calories, 11g sugar, 8g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-13.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Shaken Espresso</h4>
                        <p class="m-0">100 calories, 14g sugar, 2g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-14.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced White Chocolate Mocha</h4>
                        <p class="m-0">420 calories, 48g sugar, 20g fat</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 d-flex justify-content-center">
                <a class="btn btn-primary font-weight-bold py-2 px-4 mt-2" href="/menu">Tam Menyu</a>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
<!-- Design -->
<div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
    <div class="container py-5"></div>
</div>
<!-- Design -->
<!-- Reservation Start -->
<div class="container-fluid my-5">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary">30% OFF</h1>
                            <h1 class="text-white">Onlayn rezervasiya üçün</h1>
                        </div>
                        <p class="text-white">
                            Telefon, planşet və ya noutbukda olmağınızdan asılı olmayaraq,
                            CaféCozy-da rezervasiyanız əlinizin altındadır. Menyunu araşdırın, sifarişinizi
                            fərdiləşdirin və sizə ən uyğun filial yerini tapın.
                            Onlayn rezervasiya edin, dostlarınızla yaxşı vaxt keçirərkən endirimli qiymətlərdən həzz
                            alın
                        </p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Endirimdən yararlanın</li>
                            <li class="py-2">
                                <i class="fa fa-check text-primary mr-3"></i>Sifariş edin və qabaqcadan
                                ödəyin
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
                        <h1 class="text-white mb-4 mt-5">Masanızı rezerv edin</h1>
                        <form class="mb-5" method="post" asp-action="index">
                            <div class="form-group">
                                <input type="text" asp-for="@Model.reservation.Name" name="name" class="form-control bg-transparent border-primary p-4" placeholder="Name"
                                       required="required" />
                                <span class="text-danger" asp-validation-for="@Model.reservation.Name"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="@Model.reservation.PhoneNumber" name="phoneNumber" class="form-control bg-transparent border-primary p-4" placeholder="PhoneNumber" id="email"
                                       required="required" />
                                <span class="text-danger" asp-validation-for="@Model.reservation.PhoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" asp-for="@Model.reservation.Email" name="email" class="form-control bg-transparent border-primary p-4" placeholder="Email" id="email"
                                       required="required" />
                                <span class="text-danger" asp-validation-for="@Model.reservation.Email"></span>
                            </div>
                            <div class="form-group">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="datetime" asp-for="@Model.reservation.Date" id="date" name="date" class="form-control bg-transparent border-primary p-4 datetimepicker-input" placeholder="Date" data-target="#date" data-toggle="datetimepicker" />
                                    <span class="text-danger" asp-validation-for="@Model.reservation.Date"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="datetime" asp-for="@Model.reservation.Time" id="time" name="time" class="form-control bg-transparent border-primary p-4 datetimepicker-input" placeholder="Time" data-target="#time" data-toggle="datetimepicker" />
                                    <span class="text-danger" asp-validation-for="@Model.reservation.Time"></span>
                                </div>
                            </div>
                            <div>
                                <button id="reserveButton" class="btn btn-primary btn-block sweet-delete font-weight-bold py-3" type="submit" onclick="showReservationSuccess()">
                                    İndi rezerv edin
                                </button>
                            </div>

                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script>
                                function showReservationSuccess() {
                                    // Check if any of the input fields are empty
                                    var name = document.getElementsByName("name")[0].value;
                                    var phoneNumber = document.getElementsByName("phoneNumber")[0].value;
                                    var email = document.getElementsByName("email")[0].value;
                                    var date = document.getElementsByName("date")[0].value;
                                    var time = document.getElementsByName("time")[0].value;

                                    if (name === "" || phoneNumber === "" || email === "" || date === "" || time === "") {
                                        // If any of the fields are empty, don't show the success alert
                                        return;
                                    }

                                    // SweetAlert işlevini tetikle
                                    Swal.fire({
                                        height: 150,
                                        width: 400,
                                        position: "top-end",
                                        icon: "success",
                                        title: "Rezervasiyanız uğurludur!",
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }

                            </script>

                            @* <input name="__RequestVerificationToken" type="hidden"
                            value="CfDJ8IOjpS2yV11FjeNn0v143MfDYXiybOFZ5xWVpITkUtmWeWuxIHf9tNK5BWS-QdFqBwe_eRmSR0PLK-H7tgvzKBXS7hcs9mDetMD8FJLEaNOgQzAb95gMeKVB0mGU3QhcfbcyOfP-K2NRMrrqyI9SzGM" />*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->